* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0rem;
}

.card{
}
.card .card-title {
	text-align: center;
}

.card .card-title {
	text-align: center;
}

.card__btn {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 0 auto;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
}

.card__btn:nth-child(3n) {
	
}
